*,::after,::before{
    font-family: "Roboto", sans-serif;
}

// announcement-bar-variable color
$ab-primary:#050034;
$ab-secondary:#080050;
$ab-black:#000000;
$ab-blue:#8746FF;
$ab-text:#4A4764;
$ab-white:#ffffff;

// common Class start

.cc-ab-container{
    width: 100%;
    max-width:1370px;
    margin: 0 auto;
    padding: 0 25px;
}

.ab-section {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $ab-secondary;

        span {
            color: $ab-blue;
        }
    }

    h1 {
        @include font(52, 62);
        font-weight: 700;

        @include breakpoint(1024) {
            @include font(44, 54);
        }

        @include breakpoint(768) {
            @include font(36, 46);
        }
        @include breakpoint(575) {
            @include font(30, 40);
        }
    }
    h2 {
        @include font(46, 58);
        font-weight: 600;

        @include breakpoint(1024) {
            @include font(38, 48);
        }

        @include breakpoint(768) {
            @include font(32, 42);
        }

        @include breakpoint(575) {
            @include font(26, 36);
        }
    }

    h3 {
        @include font(40, 50);
        font-weight: 600;

        @include breakpoint(1024) {
            @include font(34, 44);
        }

        @include breakpoint(768) {
            @include font(28, 38);
        }

        @include breakpoint(575) {
            @include font(22, 32);
        }
    }

    h5 {
        @include font(24, 28);
        font-weight: 600;

        @include breakpoint(768) {
            @include font(20, 24);
        }
        @include breakpoint(575) {
            @include font(18, 22);
        } 
    }

    h6 {
        @include font(18, 28);
        font-weight: 500;

        @include breakpoint(768) {
            @include font(16, 26);
        }
    }

    p {
        @include font(20, 30);
        font-weight: 400;
        color: $ab-text;

        @include breakpoint(768) {
            @include font(18, 28);
        }
        @include breakpoint(575) {
            @include font(16, 26);
        }
    }

    .title-tag{
        display: inline-block;
        text-transform: uppercase;
        padding: 4px 10px;
        background-color: #FBF8FF;
        border: 1px solid #EFE6FF;
        color: #8746FF;
        border-radius: 8px;
        margin-bottom: 15px;
    }
}



button{
    cursor: pointer;
}



.ab-btn {
    gap: 7px;
    @include font(18, 18);
    font-weight: 500;
    padding: 13px 26px;
    border-radius: 8px;
    border: 0;
    outline: 0;
    overflow: hidden;
    @extend .transition;

    img {
        max-width: 20px !important;
    }

    &.btn-blue {
        position: relative;
        background-color: #8746FF;
        color: #ffffff;

        &::before, &::after {
            position: absolute;
            content: "";
            width: 80%;
            height: 15px;
            left: 50%;
            transform: translateX(-50%);
            @extend .transition;
        }
        
        &::before {
            top: -15px;
            opacity: 0;
            box-shadow: 0 -6px 10px 10px #CBAEFF;
            border-radius: 0 0 7px 7px;
          }
    
          &::after {
            bottom: -15px;
            box-shadow: 0 6px 10px 10px #CBAEFF;
            border-radius: 7px 7px 0 0;
          }
       
    
      
        &:hover{
            &::after{
            opacity: 0;
            }
    
            &::before {
            opacity: 1;
            }
        }
    }

    &.btn-white {
        background: #FBF8FF;
        color: $ab-blue;
        border: 1px solid #EFE6FF;

        &:hover {
            background: #EFE6FF;
        }
    }
}

.ab-section-title{
    width: 100%;
    max-width:626px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}



// common Class end

// cc-ab header   
.cc-ab-header {
    overflow-x: clip;
    position: relative;
    z-index: 99;

    .cc-ab-top-header{
        padding: 30px 0;

        @include breakpoint(1024) {
            padding: 24px 0;
        }

        @include breakpoint(768) {
            padding: 18px 0;
        }

            .top-header-col{
                gap: 15px;

                @include breakpoint(1200) {
                    gap: 10px;
                }

                .cc-logo{

                    img{
                        width: 100%;
                        max-width: 40px;
                        aspect-ratio: 1;
                    }
                }
                
                .ab-logo-devider {
                    width: 2px;
                    height: 30px;
                    background: #EFE6FF;
                }

                .ab-logo{
                    img{
                        width: 100%;
                        max-width: 40px;
                        aspect-ratio: 1;
                    }
                    .ab-logo-text{
                        font-size: 22px;
                        line-height: 22px;
                        font-weight: 600;
                        color: $ab-blue;
                        margin: 0px;
                    }
                }
            }

            .hamburger-menu {
                width: 30px;
                height: 24px;
                gap: 6px;

                span {
                    width: 100%;
                    height: 3px;
                    background: $ab-blue;
                }
            }

            .cc-ab-menu{

                ul {
                    @extend .unstyle, .d-flex, .align-center;
                    gap: 20px;

                    @include breakpoint(1200) {
                        gap: 10px;
                    }


                    li {
                        a {
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 22px;
                            color: $ab-secondary;
                            padding: 10px;
                            @extend .transition;
        
                            &:hover{
                                color: $ab-blue;
                            }
                        }
                        &.current-menu-item {
                            a {
                                color: $ab-blue;
                            }
                        }
                        &.cc-ab-menu-btn {

                            a {
                                @extend .ab-btn, .btn-blue;
                                background: #080050;
                                padding: 12px 30px;
                                display: flex;
                                color: #fff;
                                border-radius: 8px;
                                border: 0;
                                outline: 0;
                                overflow: hidden;

                                &::after {
                                    bottom: -15px;
                                    box-shadow: 0 6px 10px 10px #8746FF;
                                }
                                &::before {
                                    top: -15px;
                                    opacity: 0;
                                    box-shadow: 0 -6px 10px 10px #8746FF;
                                }
                            }
                        }

                    }
                }
            }
            .ab-menu {

                @include breakpoint(1024) {
                    position: absolute;
                    background: #d7c2ff;
                    width: calc(100% + 50px);
                    right: -150%;
                    padding: 30px 25px 40px;
                    top: 100%;
                    height: 100vh;
                    z-index: 99;
    
                    ul {
                        flex-direction: column;
                        gap: 20px;
                        align-items: flex-start;
                    }
                }
            } 
        
    }

    &.cc-mobile-menu-active {

        .hamburger-menu {

            span {
                @extend .absolute;

                &:first-child {
                    transform: rotate(45deg);
                }
                &:last-child {
                    transform: rotate(-45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
            }
        }

        .ab-menu {

            @include breakpoint(1024) {
                right: -25px;
            }
        }

    }
}


.ab-banner{
    padding: 45px 0;
    overflow-x: clip;
    @extend .relative;
    z-index: 1;

    @include breakpoint(1024) {
        padding: 30px 0;
    }

    &::before,
    &::after {
        @extend .absolute;
        content: '';
        background: url(/assets/images/announce-bar/ab-banner-bg-shape.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &::before {
        width: min(60%, 585px);
        aspect-ratio: 15/16;
        top: -200px;
        left: 0;

        @include breakpoint(1024) {
            top: 0;
        }
    }

    &::after {
        width: min(60%, 510px);
        aspect-ratio: 15/16;
        bottom: -150px;
        right: 0;
        transform: rotate(180deg);

        @include breakpoint(1024) {
            bottom: 0;
        }
    }

    .cc-ab-row {
        gap: 35px;

        @include breakpoint(1024) {
            gap: 30px;
        }

        @include breakpoint(768) {
            gap: 20px;
        }

        .cc-ab-banner-contents {
            width: 100%;
            max-width: calc(45% - 20px);

            @include breakpoint(1024) {
                max-width: 100%;
            }

            h1 {
                margin-bottom: 25px;

                @include breakpoint(1024) {
                    margin-bottom: 15px;
                }
            }
            p {
                margin-bottom: 40px;

                @include breakpoint(1024) {
                    margin-bottom: 20px;
                }
            }

            .ab-buttons {
                gap: 10px;
                margin-bottom: 40px;

                @include breakpoint(1024) {
                    margin-bottom: 20px;
                }

                @include breakpoint(768) {
                    justify-content: center
                }

            }
            .inner-text{
                @extend .d-flex, .align-center , .flex-wrap;

                @include breakpoint(1024) {
                    justify-content: center;
                }

                .stroke{
                    @include font(30, 28);
                    font-weight: 700;
                    color: transparent;
                    margin-right: 5px;
                    -webkit-text-stroke: 1px #8746FF;

                    @include breakpoint(1024) {
                        @include font(24, 22);
                    }

                    @include breakpoint(768) {
                        @include font(20, 18);
                    }
                }
                span{
                    @include font(20, 30);
                    font-weight: 400;
                    color: $ab-secondary;

                    @include breakpoint(1024) {
                        @include font(16, 24);
                    }
                }
            }
        }

        .cc-ab-banner-img {
            width: 100%;
            max-width: calc(55% - 20px);

            @include breakpoint(1024) {
                max-width: 100%;
            }
        }
    }

}
// .inner-text{
//     @extend .d-flex, .align-center;
//     .stroke{
//         color: transparent;
//         font-size: 30px;
//         line-height: 28px;
//         margin-right: 5px;
//         -webkit-text-stroke: 1px #8746FF;
//     }
//     span{
//         font-size: 18px;
//         line-height: 28px;
//         font-weight: 400px;
//         color: $ab-secondary;
//     }
// }

// cc-ab-services area
.cc-ab-service-area{
    padding: 40px 0;
    overflow-x: clip;

    @include breakpoint(1024) {
        padding: 30px 0;
    }

    @include breakpoint(768) {
        padding: 20px 0;
    }

    .cc-ab-service-wrapper{
        @extend .d-flex, .space-between, .align-center, .flex-wrap;
        align-items: stretch;
        border-radius: 15px;
        gap: 24px;
        position: relative;


        .top-right-mask{
            position: absolute;
            top: -30px;
            right: -30px;
            width: 85px;            
            height: 42px;      
            border-radius: 50%;      
            mask: url(/assets/images/announce-bar/ab-shape-1.svg); 
            mask-size: cover;       
            mask-position: center;    
            mask-repeat: no-repeat;    
            background: #8746FF;  
            transform: rotate(5deg);
        }
        .bottom-left-mask{
            position: absolute;
            bottom: -35px;
            left: -25px;
            width: 54px;            
            aspect-ratio: 1 / 1;     
            mask: url(/assets/images/announce-bar/ab-shape-2.svg); 
            mask-size: contain;       
            mask-position: center;    
            mask-repeat: no-repeat;    
            background: #8746FF; 
            transform: rotate(-5deg);
        }

         .cc-ab-service-col{
            flex: 1 0 300px;
            background: #FBF8FF;
            border: 1px solid #EFE6FF;
            @extend .flex-center;
            flex-direction: column;
            border-radius: 15px;
            padding: 40px 20px;

            @include breakpoint(768) {
                padding: 20px 10px;
            }

            .img{
                padding: 35px;
                @extend .flex-center;
                background-color: #FFFFFF;
                border: 1px solid #EFE6FF;
                border-radius: 16px;

                @include breakpoint(768) {
                    padding: 20px;
                }

                img{
                    width: 50px;
                    height: 50px;

                    @include breakpoint(768) {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            .service-title{
                @include font(28, 28);
                font-weight: 600;
                margin: 25px 0 20px;
                color: $ab-black;
                text-align: center;

                @include breakpoint(768) {
                    @include font(22, 22);
                    margin: 15px 0 10px;
                }
            }

            .service-details{
                font-size: 18px;
                line-height: 28px;
                font-weight: 400;
                color: $ab-text;
                text-align: center;
            }
        }
    }

}


// feature section
.cc-ab-feature{
    padding: 40px 0;
    overflow-x: clip;

    @include breakpoint(1024) {
        padding: 30px 0;
    }

    @include breakpoint(768) {
        padding: 20px 0;
    }

    .feature-card-wrapper{
        margin-top: 40px;
        gap: 25px;

        @include breakpoint(1024) {
            gap: 20px;
            margin-top: 30px;
        }

        @include breakpoint(768) {
            margin-top:  20px;
        }

        .feature-card-wrapper-item {
            @extend .d-flex, .align-center, .space-between;
            border: 1px solid rgba(var(--cc-ab-fe-card-color), 0.1);
            background: rgba(var(--cc-ab-fe-card-color), 0.02);
            border-radius: 16px;
            padding: 40px;
            row-gap: 20px;

            @include minbreakpoint(1025) {

                &:nth-child(even) {
                    flex-direction: row-reverse;
                }
            }

            @include breakpoint(1024) {
                padding: 20px;
                flex-wrap: wrap;
            }

            @include breakpoint(768) {
                padding: 15px;
                row-gap: 10px;
            }

            @include breakpoint(575) {
                padding: 10px;
                row-gap: 0;
            }
    
            .feature-card-contents {
                width: calc(47% - 13px);
                @extend .relative;

                @include breakpoint(1024) {
                    width: 100%;
                }

                &::before,
                &::after {
                    @extend .absolute;
                    content: '';
                    mask-size: cover;
                    mask-position: center;
                    mask-repeat: no-repeat;
                    background-color: rgba(var(--cc-ab-fe-card-color), 1);
                }
                
                &::after {
                    mask: url(/assets/images/announce-bar/feature-text-bottom-icon.svg);
                    width: 82px;
                    height: 55px;
                    top: calc(100% - 20px);
                    left: -20px;
                    transform: rotateY(180deg);

                    @include breakpoint(1024) {
                        width: 81px;
                        height: 55px;
                        top: calc(100% - 50px);
                        left: calc(100% - 72px);
                    }
                }

                p {
                    @include font(18, 28);

                    @include breakpoint(768) {
                        @include font(16, 26);
                    }
                }
            }
            .feature-card-feature {
                width: calc(53% - 13px);

                @include breakpoint(1024) {
                    width: 100%;
                }
            }

            @include minbreakpoint(1025) {

                &:nth-child(even) {
                    flex-direction: row-reverse;
                }
                &:nth-child(odd) {
                    .feature-card-contents {
                        &::after {
                            right: -20px;
                            left: inherit;
                            transform: rotateY(0);
                        }
                    }

                }
            }
            
            // Repeat styles for every 5 items
            &:nth-child(5n + 1) {
                .feature-card-contents {
                    &::before {
                        mask: url(/assets/images/announce-bar/feature-text-icon-1.svg);
                        width: 80px;
                        height: 55px;
                        top: -40px;
                        right: 0;

                        @include breakpoint(575) {
                            right: -10px;
                        }
                    }
                }
            }

            &:nth-child(5n + 2) {
                .feature-card-contents {
                    &::before {
                        mask: url(/assets/images/announce-bar/feature-text-icon-2.svg);
                        width: 65px;
                        height: 80px;
                        top: -60px;
                        right: 35px;

                        @include breakpoint(575) {
                            right: 5px;
                        }
                    }
                }
            }

            &:nth-child(5n + 3) {
                .feature-card-contents {
                    &::before {
                        mask: url(/assets/images/announce-bar/feature-text-icon-3.svg);
                        width: 50px;
                        height: 45px;
                        top: -30px;
                        left: -25px;

                        @include breakpoint(575) {
                            top: -35px;
                        }
                    }
                }
            }

            &:nth-child(5n + 4) {
                .feature-card-contents {
                    &::before {
                        mask: url(/assets/images/announce-bar/feature-text-icon-4.svg);
                        width: 60px;
                        height: 60px;
                        top: -30px;
                        right: -5px;

                        @include breakpoint(575) {
                            top: -35px;
                            right: -17px;
                        }
                    }
                }
            }

            &:nth-child(5n) {
                .feature-card-contents {
                    &::before {
                        mask: url(/assets/images/announce-bar/feature-text-icon-5.svg);
                        width: 80px;
                        height: 50px;
                        top: -40px;
                        left: -20px;

                        @include breakpoint(575) {
                            top: -45px;
                            left: -10px;
                        }
                    }
                }
            }

            &:nth-child(1) {
                .feature-card-contents {
                    &::before {
                        right: inherit;
                        left: 300px;

                        @include breakpoint(1024) {
                            left: 210px;
                        }

                        @include breakpoint(575) {
                            left: 170px;
                        }
                    }
                }
            }

        }

    }
}

// // pricing section
.ab-pricing-section{
    padding: 40px 0;

    @include breakpoint(1024) {
        padding: 30px 0;
    }
    @include breakpoint(768) {
        padding: 20px 0;
    }

    .ab-pricing-toggle {
        gap: 12px;

        h4 {
            @include font(22, 22);
            font-weight: 500;
            margin: 0;
            @extend .transition;

            &.monthly {
                color: $ab-blue;
            }
        }

        button {
            width: 1000%;
            max-width: 60px;
            height: 30px;
            padding: 4px;
            background: $ab-blue;
            border-radius: 50px;
            @extend .relative, .transition;


            &::after {
                @extend .absolute, .transition;
                content: "";
                width: 20px;
                height: 22px;
                top: 4px;
                left: 4px;
                background: #fff;
                border-radius: 50%;
            }
        }

        &.yearly-active {
            .monthly {
                color: $ab-text;
            }
            .yearly {
                color: $ab-blue;
            }

            button {
                &::after {
                    left: calc(100% - 24px);
                }
            }
        }
    }
    .ab-pricing-table {
        margin-top: 60px;
        width: 100%;
        border-spacing: 0;

        @include breakpoint(1024) {
            margin-top: 40px;
        }
        @include breakpoint(768) {
            margin-top: 30px;
        }

        thead {

            th {    
                padding: 30px 15px;

                @include breakpoint(1024) {
                    padding: 20px 10px;
                }

                @include breakpoint(575) {
                    padding: 10px 5px;
                }
                
                &:not(:first-child) {
                    border-top: 1px solid #E0F5FF;
                    border-left: 1px solid #E0F5FF;
                }
                &:nth-child(2) {
                    border-radius: 16px 0 0 0;
                    background: #FBF8FF;
                }
                &:last-child {
                    border-right: 1px solid #E0F5FF;
                    border-radius: 0 16px 0 0;
                    background: #FBF8FF;
                }

                img {
                    max-width: 179px;
                }

                h4 {
                    @include font(22, 22);
                    font-weight: 400;

                    @include breakpoint(575) {
                        @include font(18, 18);
                    }
                }
                h3 {
                   @include font(40, 50);
                   font-weight: 600;

                   @include breakpoint(1024) {
                    @include font(36, 46);
                   }

                   @include breakpoint(768) {
                    @include font(30, 40);
                   }

                   @include breakpoint(575) {
                    @include font(20, 30);
                   }

                   sub {
                    @include font(18, 28);
                    font-weight: 400;

                    @include breakpoint(575) {
                        @include font(16, 26);
                        display: block;
                    }
                   }
                }

                .ab-btn {
                    display: inline-block;

                    @include breakpoint(768) {
                        @include font(16, 16);
                        padding: 8px 10px;
                    }

                    @include breakpoint(575) {
                        width: 100%;
                        @include font(12, 12);
                        padding: 8px 4px;

                        img {
                            display: none
                        }
                    }
                }
            }
        }
        tbody {

            tr {
                td {
                    border-right: 1px solid #E0F5FF;
                    border-bottom: 1px solid #E0F5FF;
                    padding: 15px 20px;
                    @include font(16, 28);
                    font-weight: 500;

                    @include breakpoint(1024) {
                        padding: 10px 15px;
                    }

                    @include breakpoint(575) {
                        padding: 10px 5px;
                        @include font(14, 24);
                    }

                    &:nth-child(1) {
                        border-left: 1px solid #E0F5FF;
                    }

                    span {
                        width: 28px;
                        height: 28px;
                        background-image: url("../images/announce-bar/ab-free-feature-mark.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        display: block;
                        margin: 0 auto;
                    }

                }
                &:first-child {
                    td {
                        border-top: 1px solid #E0F5FF;

                        &:nth-child(1) {
                            border-radius: 16px 0 0 0;
                        }
                    }
                }
                &:last-child {
                    td {
                        &:nth-child(1) {
                            border-radius: 0 0 0 16px;
                        }
                        &:last-child {
                            border-radius: 0 0 16px 0;
                        }
                    }
                }

                &.ab-premium-feature {
                    td {
                        &:nth-child(2) {
                            span {
                                background-image: url("../images/announce-bar/ab-premium-feature-mark.svg");
                            }
                        }
                    }
                }


            }
        }
    }

      
}
    

// review section
.cc-ab-review-section{


    .ab-section-title{

        margin-bottom: 30px;
    
        .title-tag{
            max-width: 108px;
     
        }
    }
    

    .review-wrapper{

        align-items:start;
        columns:  3 300px;
        gap: 30px;
        margin-bottom: 20px;
        padding-bottom: 50px;
        position: relative;

        &::after{
            position: absolute;
            content: "";
            width: 100%;
            height: 190px;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 91.88%);
            opacity: 0.6;
            top: 0;
            left: 0;
        }

        &::before{
            position: absolute;
            content: "";
            width: 100%;
            height: 190px;
            align-items:self-start;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) -36.34%, #FFFFFF 77.55%);
            opacity: 0.8;
            bottom: 0;
            left: 0;
        }


        .review-col{

            border-radius: 16px;
            display: inline-block;
            background-color: #FBF8FF;
            border: 1px solid #EFE6FF;
            padding: 30px;
            margin-bottom: 30px;

            .name{
                font-size: 26px;
                line-height: 28px;
                font-weight: 600;
                color: $ab-secondary;
                margin-bottom: 5px;

                @media screen and (max-width:1024px) {
                    font-size: 18px;
                    line-height: 20px;
                    font-weight: 500;
                }
            }

            .country{
                font-size: 18px;
                line-height: 28px;
                font-weight: 500;
                color: $ab-text;

                
                @media screen and (max-width:1024px) {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                }
            }

            .comments{
                margin-top: 20px;
                font-size: 18px;
                line-height: 28px;
                font-weight: 400;
                color: $ab-text;

                @media screen and (max-width:1024px) {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                }
            }

            .rating{
                list-style: none;

                li{
                    display: inline-block;

                    img{
                        width: 30px;
                        @media screen and (max-width:1024px) {
                            width: 20px;
                        }
                    }
                }
            }
        }
    }


    .btn{
        @extend .ab-btn;
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (max-width:1024px) {
            padding: 10px 20px;
        }

    }
}

// Faq Section
.cc-ab-faq-section{
    margin-top: 70px;
    width: 100%;
    
    .ab-section-title{

        width: 100%;
        max-width: 780px;
        margin-bottom: 30px;
    
        .title-description{
            font-size: 46px;
            line-height: 58px;
            font-weight: 600;
            color: $ab-primary;

            @media screen and (max-width:768px) {
                font-size: 30px;
                line-height: 42px;
                font-weight: 500;
            }
        }
    }

    .faq-wrapper{

        list-style: none;

        .item{
       
            background-color: #FBF8FF;
            border: 1px solid #EFE6FF;
            border-radius: 8px;
            margin-top: 25px;
            padding:15px;

        .header{
            display: flex;
            gap: 10px;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0px;

            .item-title{
                font-size: 24px;
                line-height: 28px;
                font-weight: 500;
                color: #080050;
                @media screen and (max-width:768px) {
                    font-size: 18px;
                
            }
            }

            img{
                width: 24px;
                height: 24px;

                @media screen and (max-width:768px) {
                    width: 18px;
                    height: 18px;
                
            }
            }

           }
           .body{

            display: none;
           }

           &.open{
            .body{
                display: block;
            }

           }

        }
            
    }
}



// announcement bar
.cc-ab-announcement{
    margin-top: 120px;
    position: relative;
    margin-bottom: -130px;
    border-radius: 16px;

    .announcement-wrapper{
       width: 100%;
        background-color: #FBF8FF;
        border-radius: 16px;
        padding: 50px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        position: relative;
        overflow: hidden;

            .top-left{
                position: absolute;
                width:250px;
                height: 100px;
                background: radial-gradient(104.72% 104.72% at 49.79% 53.74%, #FFFFFF 0%, #8746FF 100%) ;
                top: 0;
                left: 0;
                border-top-left-radius: 16px;
                border-bottom-right-radius: 20px;
                transform: rotateX();
                filter: blur(30px);
            }

            .top-center{
                @extend .top-left;
                left:25%;
                height: 50px;
            }

            .bottom-left{
                position: absolute;
                @extend .top-left;
                width: 100px;
                height: 60px;
                border-top-left-radius: 20px;
                top: auto;
                bottom: 0;
                left: auto;
                right: 0;
            }


            .bottom-center{
                @extend .top-left;
                width: 250px;
                height: 60px;
                top: auto;
                bottom: 0;
                left: auto;
                right: 200px;
            }


        .inner-icon{
            width: 100%;
            max-width:255px;
            height: 100%;
            max-height: 329px;
            position: absolute;
            top: 60px;
            left: 152px;
            @media screen and (max-width:768px) {
                width: 120px;
                height: 160px;
                top:40% ;
                left: 50%;
                transform: translateX(-50%);
            }

        }

        h2{
            font-size: 40px;
            font-weight: 600;
            line-height:50px;
            margin-bottom: 30px;
            color: $ab-secondary;
            z-index: 1;
            @media screen and (max-width:768px) {
                font-size: 32px;
                font-weight: 500;
                line-height:40px;
            }
        }
        p{
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
            color: $ab-text;
            z-index: 1;

        }
        .cc-ab-button{
            @extend .d-flex, .align-center;
            gap: 10px;

            .btn{
                @extend .d-flex, .align-center;
                @extend .ab-btn;

                img{
                    width: 20px;
                    padding-right: 5px;
                }


                @media screen and (max-width:768px) {
                    padding: 10px 15px;
                }
            }
            .white-btn{
                padding: 12px 25px;
                border-radius: 8px;
               z-index: 1;

                @extend .d-flex, .align-center;
                @extend .btn-white;

                img{
                    width: 20px;
                    padding-right: 5px;
                }
            }
        }

       }
  
}


// footer

.cc-ab-footer{
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #F4FBFF 0%, #FFFFFF 100%);

    padding-top: 60px;
    
    .top-footer{
        
        padding:70px 0;
        margin-top: 50px;
        // border: 1px solid red;
        position: relative;

        &::after{
            position: absolute;
            content: "";
            width: 80%;
            height: 2px;
            background-color: #E0F5FF;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
 

        &::before{
            position: absolute;
            content: url(/assets/images/announcement-bar/arrow-down-sign-to-navigate\ \(2\)\ 1.png);
            width: 60px;
            height:60px;
            background-color: #FFFFFF;
            border: 1px solid #E0F5FF;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: -30px;
            z-index: 1;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
        }
 

    .cc-ab-content-area{
        width: 100%;
        max-width: 1280px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: start;

        .cc-ab-content-area-col{
            // display: flex;
            // justify-content: start;
            img{
                width: 205px;
                padding-top: 5px;
            }
            p{

                font-size: 16px ;
                line-height: 25px;
                font-weight: 400;
                color: #000D23;
                margin: 20px 0;
            }
            span{
                font-size: 16px ;
                line-height: 25px;
                font-weight: 600;
            }

            .input{
                margin-top: 30px;
                width: 363px;
                height: 40px;
                background-color: #0061FE;
                border-radius: 10000px;
                display: flex;
                align-items: center;
                padding: 27px 10px;
                


                input{
               width: 100%;
               border-radius: 10px;
               padding: 10px 10px;
               background: transparent;
               color: white;
               font-size: 16px;
               font-weight: 400;
               line-height: 26px;

                    
               &::placeholder{
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                color: white;

               }
                }

                button{
                    // width: 20%;
                    padding: 7px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    background-color: #FFFFFF;
                    border-radius: 1000000000px;
                    min-width: 90px;
                    cursor: pointer;

                    span{
                        padding-right: 7px;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        color: #0061FE;
                    }
                    img{
                        width: 14px;
                        height: 14px;
                    }
                }
            }


            .usefull-links{
                list-style: none;
                margin-top: 30px;
                display: flex;

                .link{
                    display: flex;
                    border-radius: 50%;
                    justify-content: center;
                    background-color: #8746FF;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    align-items: center;
                    margin-right: 10px;
                    cursor: pointer;

                    img{
                        width: 20px;
                    }
                }
            }


        }



        .cc-ab-content-area-col{

            .title{

                font-size: 22px;
                font-weight:600;
                line-height: 28px;
                color: #000000;
                margin-bottom: 30px;
            }

            .list{
                list-style: none;
                text-align: left;


                li a{
                    font-size: 17px;
                    line-height: 45px;
                    font-weight: 400;
                    letter-spacing: 0.16px;
                    color: #3C4770;
                 
                    img{
                        width:30px;
                        height: 30px;
                    }
                }
            }

        }

        .product{

            .list{
                li  a{
                    font-size: 17px;
                    line-height: 45px;
                    font-weight: 400;
                    letter-spacing: 0.16px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 20px;
                    line-height: 22px;
                    font-weight: 400;
                    color: #3C4770;
                    margin-bottom: 20px;
    
                    img{
                        width:30px;
                        height: 30px;
                    }

                    span{
                        background-color: #0061FE;
                        padding: 0 5px ;
                        border-radius: 1000px;
                        font-size: 14px;
                        line-height: 22px;
                        font-weight: 400;
                        color: #ffffff;
                    }
                }
            }
           
        }


    }

}

        .bottom-footer{

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:40px 0px 30px 0px;

            .text{
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                margin: 0;
                color: #000000;

                a{
                    color: #0061FE ;
                }
            }


            .payment-method{
                // margin-top: 0;
                display: flex;
                gap: 10px;
            

                span{
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 500;
                    color:#000000
                }

                img{
                    width: 400px;
                    // height: 20px;
                    margin-top: 5px;
                }



            }




            
            img{
                width: 60px;
        }
}




}



















// stroke










